= simple_form_for @comment, :url => post_comments_path(@post), :html => { :class => 'form-vertical' } do |f|
  = f.input :body, :wrapper => :no_label
  .form-actions
    = f.button :submit, :class => 'btn-primary'