%p
  %strong=t('.commenter') + ':'
  = comment.user.username

%p
  %strong=t('.comment') + ':'
  = comment.body

%p
  = link_to t('.destroy'), [comment.post, comment], method: :delete, data: { :confirm => t('.delete_confirm') }