= simple_form_for [@post, @post.comments.build], :html => { :class => 'form-vertical' } do |f|
  = f.input :commenter, :wrapper => :prepend, :label => false do
    =content_tag :span, "Commenter", :class => "add-on"
    =f.input_field :commenter
  = f.input :body, :input_html => { :class => "span6" }
  .form-actions
    = f.button :submit, :class => 'btn-primary'