= simple_form_for([@post, @post.comments.new]) do |f|
  = f.input :commenter
  = f.input :body
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    -#= link_to t('.cancel', :default => t("helpers.links.cancel")), comments_path, :class => 'btn'
