- model_class = User
.page-header
  %h1=t '.users_listing'
%table.table.table-striped
  %thead
    %tr
      %th= han(:user, :username)
      %th= han(:user, :created_at)
  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td=l user.created_at, :format => :short

= link_to t('.new'), new_user_path, :class => 'btn btn-primary'
